    <main id="mainLogin">

        <section id="sectionLogin">

            <article id="articleLoginImg">
                <div id="areaImgLogin">
                    <div class="max-width">
                        <div class="imageContainer">
                            <img src="/img/big-photo-camera.png" alt="Selecione uma imagem" id="imgPhoto">
                        </div>
                    </div>
                    <input type="file" id="flImage" name="flImage" accept="images/*">
                </div>
            </article>

            <article id="articleLoginCampos">
                <div class="areaLogin">
                    <form id="formCadastro" class="forms" action="">
                        <div id="loginCampos">
                            <div class="input-group">
                                <label for="nome">Digite seu nome</label>
                                <input type="text" id="nome" class="inputLogin" required>
                            </div>
                            <div class="input-group">
                                <label for="dt_nasc">Digite sua data de nascimento</label>
                                <input type="date" id="dt_nasc" class="inputLogin" required>
                            </div>
                            <div class="input-group">
                                <label for="username">Digite seu email</label>
                                <input type="email" id="username" class="inputLogin" required>
                            </div>
                            <div class="input-group">
                                <label for="password">Digite uma senha</label>
                                <input type="password" id="password" class="inputLogin" required>
                            </div>
                            <div class="input-group">
                                <label for="passwordConfirm">Confirme sua senha</label>
                                <input type="password" id="passwordConfirm" class="inputLogin" required>
                            </div>
                        </div>

                        
                        <button class="btn" type="submit">Cadastrar conta</button>

                    </form>
                </div>
            </article>
        </section>
    </main>

    <div id="customAlert" class="alert">
        <div class="alert-header">
            <h2 id="tituloAlert"></h2>
        </div>
        <div class="alert-content">
            <p id="corpoAlert"></p>
            <button id="closeAlert">Fechar</button>
        </div>
    </div>

    <!--<script src="../ESCRIPTS/cadastro.js"></script>-->