<main id="mainIndex">

    <article id="articleIndex">

        <div id="divIntro">
            <p>Na TaxFree, entendemos que a contabilidade não é apenas números; é a base para o sucesso do seu negócio.
                Com uma equipe de profissionais experientes
                e apaixonados pelo que fazem, estamos aqui para oferecer soluções personalizadas que atendem às suas
                necessidades específicas.
            </p>
        </div>

        <img src="img/taxx-removebg-preview.png" alt="">

    </article>

    <aside id="asideIndex">

        <div id="sobreGrupo">
            <p>Nós somos uma equipe de cinco estudantes apaixonados por Análise e Desenvolvimento de Sistemas da
                Faculdade Fatec Rubens Lara.</p>
            <img src="" alt="">
        </div>

        <p id="asideText">Acreditamos que a honestidade e a alegria são fundamentais em tudo que fazemos. Cada projeto
            que abraçamos reflete nosso compromisso em oferecer soluções de qualidade, sempre com transparência e
            respeito.
            Trabalhamos com entusiasmo, porque sabemos que a colaboração e o bom humor fazem a diferença em nosso dia a
            dia.</p>
            
    </aside>

</main>

<div id="customAlert" class="alert">
    <div class="alert-header">
        <h2 id="tituloAlert"></h2>
    </div>
    <div class="alert-content">
        <p id="corpoAlert"></p>
        <button id="closeAlert">Fechar</button>
    </div>
</div>



<script src="../ESCRIPTS/index.js"></script>