

<main id="mainLogin">
    <section id="sectionLogin">
        <article id="articleLoginImg">
            <div id="areaImgLogin">
                <img id="imgLogin" src="/img/avatarBranco.png" alt="">
            </div>
        </article>

        <article id="articleLoginCampos">
            <div class="areaLogin">
                <form id="formLogin" class="forms" action="">
                    <div id="loginCampos">
                        <div class="input-group">
                            <label for="username">Email</label>
                            <input type="email" id="username" class="inputLogin" required>
                        </div>
                        <div class="input-group">
                            <label for="password">Password</label>
                            <input type="password" id="password" class="inputLogin" required>
                        </div>
                    </div>
                    <button class="btn" type="submit">Entrar</button>
                    <a href="#" onclick=esqueciSenha()>Esqueci minha senha!</a>
                    <a href="/cadastro" class="btnCadastro">Cadastrar-se</a>
                </form>
            </div>
        </article>
    </section>
</main>

<div id="customAlert" class="alert">
    <div class="alert-header">
        <h2 id="tituloAlert"></h2>
    </div>
    <div class="alert-content">
        <p id="corpoAlert"></p>
        <button id="closeAlert">Fechar</button>
    </div>
</div>

<script>
    const user = document.getElementById('username');
    console.log(user.value)
    alert('oi')
</script>