<main id="mainLogin">
    <section id="sectionLogin">
        <article id="articleLoginImg">
            <div id="areaImgLogin">
                <div class="max-width">
                    <div class="imageContainer">
                        <img src="/img/big-photo-camera.png" alt="Selecione uma imagem" id="imgPhoto">
                    </div>
                </div>
                <input type="file" id="flImage" name="flImage" accept="image/*">
            </div>
        </article>

        <article id="articleLoginCampos">
            <div class="areaLogin">
                <form id="formEdit" class="forms">
                    <!-- Removi o action e method do formulário pois faremos a requisição com JS -->
                    <div id="loginCampos">
                        <div class="input-group">
                            <label for="email">Digite seu email atual</label>
                            <input type="email" id="email" name="email" class="inputLogin" required>
                        </div>
                        <div class="input-group">
                            <label for="emailNew">Digite seu novo email</label>
                            <input type="email" id="emailNew" name="emailNew" class="inputLogin" required>
                        </div>
                        <div class="input-group">
                            <label for="password">Digite sua senha</label>
                            <input type="password" id="password" name="password" class="inputLogin" required>
                        </div>
                    </div>
                    <button class="btn" type="submit">Confirmar edições</button>
                </form>
            </div>
        </article>
    </section>
</main>

<div id="customAlert" class="alert">
    <div class="alert-header">
        <h2 id="tituloAlert"></h2>
    </div>
    <div class="alert-content">
        <p id="corpoAlert"></p>
        <button id="closeAlert">Fechar</button>
    </div>
</div>

<script type="module" src="/ESCRIPTS/perfil.js"></script>
