<main id="mainRazao">

    <div class="campoRazao">

        {{#if registrosEmpresa }}

        {{#each registrosEmpresa}}
        <section class="sectionRazao">
            <h1><strong>{{dataValues.conta}}</strong></h1>
            <div class="dinheiroArea">
                <div class="dinheiro">
                    <p>Débito: </p>
                    <p style="color: rgba(0, 209, 0, 0.767);">{{dataValues.total_debito}}</p>
                </div>
                <div class="dinheiro">
                    <p>Crédito: </p>
                    <p style="color: red;">{{dataValues.total_credito}}</p>
                </div>
            </div>
        </section>
        {{/each}}

        {{else}}

        <article style="align-items: center;" class="articleDiario">
            <div id="diarioSemLancamento">
                <h1>Não possui lançamentos ainda!</h1>
                <h2>Gostaria de fazer um? </h2>
                <a class="homeButton" href="/lancamento">Ir para lançamento</a>
            </div>
        </article>

        {{/if}}
    </div>


</main>

<script type="module" src="/ESCRIPTS/razao.js"></script>