@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #D0EBF5;
    gap: 50px;
    font-family: "Urbanist", sans-serif;
    height: 100vh;
    max-width: 100%;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #2F5D1C;
}

.nav {
    border-top: 2px solid rgb(151, 216, 150);
    display: flex;
    width: 100%;
}

.navBar {
    margin-right: 50px;
    display: flex;
    justify-content: right;
    align-items: center;
    list-style-type: none;
    width: 100%;
    padding: 20px;
    font-size: 24px;
    gap: 50px;
}

.navBar a {
    text-decoration: none;
    color: white;
}

#tittle {
    font-style: italic;
    color: rgb(147, 221, 144);
    font-size: 60px;
    font-family: "Noto Serif", serif;
}

#logo {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

#logo img {
    width: 100px;
}

/* dropdown */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(113, 162, 111);
    min-width: 100px;
    z-index: 1;
    border-radius: 15px;

}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 14px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

input[type='file'] {
    display: none;
}

.max-width {
    max-width: 100px;
    width: 100%;
}



/* Index */
#mainIndex {
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    gap: 100px;
    padding: 20px 0px;

}

#articleIndex {
    display: flex;
    justify-content: space-between;

}

#articleIndex img {
    width: 400px;
}

#divIntro {
    width: 50%;
    background-color: rgb(94, 159, 91);
    border-radius: 15px;
    color: white;
    padding: 20px;
}



#asideIndex {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#asideText {
    text-align: justify;
    width: 35%;
    padding: 20px;
    background-color: rgb(94, 159, 91);
    border-radius: 15px;
    color: white;
}

#sobreGrupo {
    width: 50%;
    display: flex;
    flex-direction: column;
    /*background-color: #0056b3;*/
    padding: 20px;
}

/* Login - Cadsatro */
#mainLogin {
    background: linear-gradient(to right, #6DBB45, #468AAE);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    padding: 20px 0px;
    transition: transform 0.3s ease;
}

#mainLogin:hover {
    transform: scale(1.05);
}

#sectionLogin {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.articleLogin {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border: 1px solid yellow;
}

#articleLoginImg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
}

#articleLoginCampos {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 5px;
}



.areaLogin {
    width: 80%;
    height: 100%;
    ;
    /* Mescla o verde e azul gradualmente */
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 15px;
    padding: 20px;
}

.forms {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.btnCadastro {
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
}


#loginCampos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: 80%;
}

.input {
    border: 0px;
    border-radius: 5px;
    padding: 5px;
}

.btn {
    width: 50%;
    background-color: rgb(2, 122, 32);
    border: none;
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
    color: white;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: rgb(1, 97, 25);
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.input-group label {
    margin-bottom: 5px;
    color: white;
}

.inputLogin {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

/* Home Page */
#mainHome {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, rgb(113, 192, 111), #2B5672);
    border-radius: 15px;
    width: 80%;
    padding: 20px;
    gap: 20px;
    box-sizing: border-box;
}

#mainHome h1 {
    color: white;
    font-size: 50px;
}

#sectionHome {
    display: flex;
    justify-content: center;
    padding: 20px;
    border-radius: 15px;
    background-color: #468AAE;
    box-sizing: border-box;
    width: 90%;
    min-height: 300px;
    gap: 20px;
}

#mainHome h2 {
    font-size: 30px;
}

.articleHome {
    width: 25%;
    background-color: rgba(255, 255, 255, 0.3);
    display: flex;
    border-radius: 5px;
    padding: 10px;
    transition: transform 0.6s cubic-bezier(0.68, -0.55, 0.27, 1.55), width 0.6s, height 0.6s;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    gap: 20px;
}

.articleHome.grande {
    width: 40%;
    font-size: 24px;

}

.articleHome.grande a {
    width: 200px;
    height: 50px;
    font-size: 16px;
}

.articleHome.pequeno {
    width: 20%;
    font-size: 12px;
}

.homeButton {
    text-decoration: none;
    color: white;
    background-color: rgb(41, 87, 38);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    font-size: 14px;
    border-radius: 5px;
    height: 40px;
    width: 150px;
    transition: 0.3s;
}


.homeButton:hover {
    background-color: rgb(137, 221, 129);
    border: 1px solid rgb(41, 87, 38)
}

.homeButton:hover {
    color: rgb(41, 87, 38);
}

#campoUsuarioNome {
    font-size: 30px;
    color: white;
}


/* lancamento */

#mainLancamento {
    background: linear-gradient(to right, rgb(113, 192, 111), #2B5672);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
    max-width: 1300px;
    width: 100%;
    padding: 20px;
}

.sectionLancamento {
    display: flex;
    background-color: rgba(94, 159, 91, 0.5);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25%;
    border-radius: 5px;
}

.sectionLancamento2 {
    display: flex;
    background-color: rgba(70, 138, 175, 0.5);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25%;
    border-radius: 5px;
}

.articleLancamentoCampos {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
    gap: 40px;
}

.articleLancamentoCampos2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
}

.areaLancamento1 {
    width: 90%;
    height: 100%;
    background-color: rgb(113, 192, 111);
    border-radius: 15px;
    padding: 20px;
}

.areaLancamento2 {
    width: 90%;
    height: 100%;
    background-color: #76B8D4;
    border-radius: 15px;
    padding: 20px;
}

#localDebitos{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
}

#localCreditos{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
}

.areaBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    gap: 40px;
}

.adicionaDeb {
    width: 100%;
    background-color: rgb(41, 87, 38);
    border: none;
    padding: 15px;
    font-size: 16px;
    border-radius: 5px;
    color: white;
    transition: 0.3s;
}

.adicionaCre {
    width: 100%;
    background-color: #2B5672;
    border: none;
    padding: 15px;
    font-size: 16px;
    border-radius: 5px;
    color: white;
    transition: 0.3s;
}


.btnLancamentoEnvio {
    width: 100%;
    background: linear-gradient(to right, rgb(41, 87, 38), #2B5672);
    border: none;
    padding: 15px;
    font-size: 16px;
    border-radius: 5px;
    color: white;
    transition: 0.3s;
}

.adicionaDeb:hover {
    border: 1px solid rgb(41, 87, 38);
    background-color: rgb(30, 160, 62);
    color: black;
}

.adicionaCre:hover {
    border: 1px solid #2B5672;
    background-color: #60a2ce;
    color: black;
}


.btnLancamentoEnvio:hover {
    border: 1px solid #2B5672;
    background: linear-gradient(to right, rgb(30, 160, 62), #60a2ce);
    color: black;
}



.formsLancamento {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.LancamentoCampos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: 80%;
}


/* Diario */

#mainDiario {
    width: 90%;
    display: flex;
    background-color:  #2F5D1C;
    justify-content: center;
    align-items: start;
    padding: 30px;
    border-radius: 7px;
}

#sectionDiario {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color:  #549c35;
    padding: 10px;
    gap: 20px;
    border-radius: 7px;

}

.articleDiario {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#diarioSemLancamento {
    display: flex;
    color: white;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

#diarioSemLancamento h1 {
    font-size: 35px;
}

#diarioSemLancamento h2 {
    font-size: 25px;
}

#diarioSemLancamento .homeButton {
    height: 60px;
    width: 200px;
    font-size: 18px;
}


.camposArticleDiarioConta {
    background-color:  #D4EEC7;
    border-radius: 5px;
    width: 30%;
    padding: 5px;
    font-size: 20px;
    border-bottom: 1px solid #305720;
    border-left: 1px solid #305720;
}

.camposArticleDiarioHist {
    background-color:  #D4EEC7;
    border-radius: 5px;
    width: 50%;
    padding: 5px;
    font-size: 20px;
    border-bottom: 1px solid #305720;
    border-left: 1px solid #305720;
}

.camposArticleDiarioDt {
    background-color:  #D4EEC7;
    border-radius: 5px;
    width: 20%;
    padding: 5px;
    font-size: 20px;
    border-bottom: 1px solid #305720;
    border-left: 1px solid #305720;
}


.camposArticleDiarioDeb,
.camposArticleDiarioCre {
    background-color:  #D4EEC7;
    border-radius: 5px;
    width: 20%;
    padding: 5px;
    font-size: 20px;
    border-bottom: 1px solid #305720;
    border-left: 1px solid #305720;
}


/* Razao */

#mainRazao {
    display: flex;
    width: 90%;
    background-color: #2B5672;
    justify-content: center;
    padding: 20px;
    border-radius: 5px;
    
}

.campoRazao{
    display: flex;
    width: 100%;
    background-color: #3889b4;
    gap: 10px;
    justify-content: start;
    flex-wrap: wrap;
    padding: 30px;
    border-radius: 5px;
}

.sectionRazao {
    padding: 10px;
    justify-content: center;
    align-items: center;
    background-color:#a6e2f8;
    border-radius: 5px;
    width: 32%;
    text-align: center;
}

.sectionRazao h1 {
    font-size: 35px;
    border-bottom: 1px solid black;
    padding: 5px;
}

.dinheiroArea {
    text-align: start;
    display: flex;
    justify-content: start;
    flex-direction: column;
}

.dinheiro {
    text-align: start;
    display: flex;
    font-size: 20px;
    justify-content: space-between;
    padding: 7px;

}

/* Balancete */

#mainBalancete{
    display: flex;
    width: 90%;
    background-color: rgb(43, 86, 114);
    padding: 20px;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
}
#sectionBalancete{
    background-color: rgba(84, 156, 53,0.4);
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    
}

.areaBalancete{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
    gap: 20px;
    background-color: rgba(84, 156, 53,0.8);
    border-radius: 5px;
}
.itemBalancete{
    width: 25%;
    background-color: rgb(68, 132, 175);
    display: flex;
    justify-content: start;
    align-items: center;
    border-bottom: 2px solid rgb(37, 81, 19);
    border-right: 2px solid rgb(17, 52, 3);
    color: white;
    padding: 10px;
    border-radius: 5px;
}


/* Balanco */

#mainBalanco {
    display: flex;
    width: 80%;
    background-color: rgb(26, 155, 24);
    padding: 20px;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    
}

.campoBalanco{
    display: flex;
    width: 95%;
    height: 100%;
    justify-content:center;
    align-items: start;
    background-color: rgba(123, 221, 118,0.6);
    border-radius: 5px;
}

.sectionBalanco {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 15px;
    padding: 30px;
}

.asideBalanco {
    width: 50%;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    gap: 40px;
}

.articleBalanco {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
   
    gap: 20px;
    padding: 40px;
    border-radius: 5px;
}

.articleBalanco h1 {
    font-size: 35px;
}

.articleBalanco h2 {
    font-size: 25px;
}

#btnImprimir{
    width: 200px;
    color: white;
    background-color: #0056b3;
    font-size: 14px;
    border-radius: 5px;
    padding: 20px;
    border: 1px solid #2B5672;
    transition: 0.5s;
}

#btnImprimir:hover {
    background-color: #7ac8ff;
    color: #2B5672;
}

.contaCampo {
    width: 90%;
    background-color: #76B8D4;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
    font-size: 20px;
}


.passivos {
    display: flex;
    width: 100%;
    gap: 20px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.patrimonioLiquido {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

/* Footer */
footer {
    background-color: #2F5D1C;
    color: white;
    padding: 10px 0;
    width: 100%;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-left,
.footer-center,
.footer-right {
    flex: 1;
    min-width: 200px;
    margin: 5px;
}

.footer-left h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.footer-left p {
    font-size: 16px;
    line-height: 1.6;
}

.footer-center h4,
.footer-right h4 {
    font-size: 18px;
    /* margin-bottom: 5px;*/
}

.footer-center p,
.footer-right a {
    font-size: 16px;
    line-height: 1.8;
    display: block;
}

.footer-right a {
    color: #ecf0f1;
    margin: 0 5px;
    font-size: 16px;
    transition: color 0.3s ease;
}

.footerLinks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-right a:hover {
    color: #3498db;
}

/* Rodapé inferior */
.footer-bottom {
    margin-top: 10px;
    font-size: 14px;
}

.footer-bottom p {
    margin: 0;
    border-top: 1px solid #7f8c8d;
}


/* Alerts */
.alert {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(129, 156, 156);
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 20px;
    z-index: 1000;
    text-align: center;
}

.alertErro {
    margin: 0;
    font-size: 18px;
    color: #fc0202;
}

.alertAcerto {
    margin: 0;
    font-size: 18px;
    color: #02fc40;
}

.alertSenha {
    margin: 0;
    font-size: 18px;
    color: #080cfc;
}

.alert-content p {
    margin: 10px 0;
    font-size: 16px;
}

.alert button {
    margin-top: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.alert button:hover {
    background-color: #0056b3;
}